<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<hr/>

<div class="footer">
	
			<div id="" class="vcard">
			 <a class="url fn n" href="http://www.pizzalandonline.com">  <span class="given-name"></span>
			  <span class="additional-name"></span>
			  <span class="family-name"></span>
			</a>
			 <div class="org">Pizza Land</div>
			 <div class="adr">
			  <div class="street-address">260 Belleville Turnpike</div>
			  <span class="locality">North Arlington</span>
			, 
			  <span class="region">NJ</span>
			, 
			  <span class="postal-code">07031</span>

			 </div>
			 <div class="tel">201-998-9095</div>
			
			</div>
	
</div>

