<div class="container">
	<!--Begin Header Row-->
	<div class="row pt-5 header">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<h1 class="dislay-1 py-2 text-center">
				Welcome to {{ title }}!
			</h1>
		</div>
		<div class="col-lg-3"></div>
		<div class="col-lg-12 green">
			<h6 class="text-center py-1">
				260 Belleville Turnpike North Arlington NJ 07031 201-998-9095
			</h6>
		</div>
	</div><!--End Header Row-->

	<hr>
	<div class="row">
		<div class="col-lg-6">
			<div id="sidebar">
				<h3 class="red text-center">
					"The (in)Famous PizzaLand"
				</h3><img src="../assets/pizzaland.jpg" alt="Image of PizzaLand Restaurant">
				<blockquote class="blockquote">
					<em>“Best In The State, Far As I’m Concerned.”<strong>-Tony S</strong></em>
				</blockquote>
				<blockquote class="blockquote">
					<em>“Cleanest Men's room in Jersey.”<strong>-Paulie W</strong></em>
				</blockquote>
				<blockquote class="blockquote">
					<em>“The pizza is great, but the baked ziti is out of this world"<strong>-Beansie G.</strong></em>
				</blockquote>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="py-3" id="order">
				<h3 class="text-center">Order Your Pie!
				</h3>
				<app-pizza-maker></app-pizza-maker>
			</div>
		</div>
	</div><!--Start Row-->
	<div class="row py-3 footer">
		<div class="col-lg-3">
			<div class="green p-2">
			<h3>"Our Story"</h3>
			<blockquote class="blockquote">We make pizza. You eat it. That's our story.</blockquote>
		</div>
	</div>
	
		<div class="col-lg-6"><p>{{date | date: 'yyyy'}}</p></div>
		
		<div class="col-lg-3">
			<!--This <a href="http://microformats.org/wiki/hcard">hCard</a> created with the <a href="http://microformats.org/code/hcard/creator">hCard creator</a>.-->
			<div id="vcard" class="vcard p-2">
				<h3>
					Location
				</h3><a class="url fn n" href="http://www.pizzalandonline.com"></a>
				<div class="org">
					Pizza Land
				</div>
				<div class="adr">
					<div class="street-address">
						260 Belleville Turnpike
					</div><span class="locality">North Arlington</span> <span class="region">NJ</span> <span class="postal-code">07031</span>
				</div>
				<div class="tel">
					201-998-9095
				</div>
			</div>
		</div>
	</div><!--End Row-->
</div><!--End Container-->
