/*Local Changes*/
body {
	background-color: #f2f2f2;
}
.container{
	background:url('assets/brick-sm.jpg');
}

#vcard {
	background-color: #ffffff;
}

nav {
	background-color:black;
}
.header {
	background-color:#ce2b37;
	border-bottom:2rem solid #009246;
}
.footer {
	border-top:2rem solid #009246; 
}

/*
	Hex	RGB
#f2f2f2	(242,242,242)
#009246	(0,146,70)green
#ffffff	(255,255,255)
#ce2b37	(206,43,55) red
#f2f2f2	(242,242,242)
*/
/* You can add global styles to this file, and also import other style files */
/*>>>>>>> External Changes*/
